<h4>Login</h4>

<div class="card">
    <div class="card-body">
        <form action="/user/login" method="post">
            <label for="email">Email:
                <input type="email" class="form-control" name="email" required>
            </label><br>
            <label for="senha">Senha
                <input type="password" class="form-control" name="password" required>
            </label>
            <button class="btn btn-dark" type="submit">Login</button>

        </form>
    </div>
</div>