<h4 class="catPrincipal">Categorias</h4>
<style>
    .cat {
        text-align: center;        
    }

    .catPrincipal {
        background-color: lightgray;
        text-align: center;
        border-radius: 4px;
        box-shadow: indigo;
        padding: auto;
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.233);

    }

    .cardBox {
        background-color: rgba(206, 215, 224, 0.493);
        margin-top: 8px;
        border-radius: 10px;
        box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.233);
    }
</style>


{{#each categorias}}
    <div class="card cardBox">
        <div class="card-body">
             <a href="/categorias/{{slug}}">
            <h5 >{{nome}}</h5>
            </a>
            <small>{{slug}}</small>
        </div>
    </dir>



{{else}}
    Nenhuma categoria encontrada!
{{/each}}